[submodule "user-service"]
	path = user-service
	url = https://github.com/andi-techfix/user-service.git
[submodule "project-service"]
	path = project-service
	url = https://github.com/andi-techfix/project-service.git
